a.py
awesome.py
car.py
cubes.py
dice.py
even_numbers.py
first_numbers.py
foods.py
list.py
lottery.py
lottery2.py
million.py
more_numbers.py
my_cars.py
odd_numbers.py
pizzas.py
PythonCheatSheet*.md
PythonCheatShee*.md
radint.py
restaurant.py
simple_message.py
simple_messages.py
squares.py
threes.py
trysomething.py
Twenties.py
User.py
__pycache__/
